.l-panel-content
  .l-constrained
    %ol.listing
      - files.each do |file|
        %li
          = radio_button_tag(:file_url, file.file.url, false, data: {'dough-linkinserter-value-trigger' => true})
          = file.label

