.form__input-wrapper
  %ol.listing
    - files.each do |file|
      %li
        = label_tag(:file_url) do
          = radio_button_tag(:file_url, file.file.url, false, data: {'dough-linkmanager-value-trigger' => true, 'dough-linkmanager-link-type' => 'file'})
          = file.label

