<h1>Frontend components</h1>

<h2>.nav-primary</h2>

<nav class="nav-primary">
  <a class="nav-primary__text is-active" href="#">Pages</a>
  <a class="nav-primary__text" href="#">Files</a>
  <a class="nav-primary__text" href="#">Snippets</a>
  <a class="nav-primary__text" href="#">Layouts</a>
  <a class="nav-primary__text" href="#">Categories</a>
  <a class="nav-primary__text" href="#">Reporting</a>
  <a class="nav-primary__text" href="#">Admin</a>
</nav>

<h2>.nav-article</h2>

<aside class="nav-article">
  <div class="nav-article__item">Item 1</div>
  <div class="nav-article__item">Item 2</div>
  <div class="nav-article__item">Item 3</div>
  <div class="nav-article__item nav-article__item--right">Right item 1</div>
  <div class="nav-article__item nav-article__item--right">Right item 2</div>
  <div class="nav-article__item nav-article__item--right">Right item 3</div>
</aside>

<h2>.l-nav-primary</h2>

<div class="l-nav-primary">
  <nav class="nav-primary">
    <a class="nav-primary__text is-active" href="#">Pages</a>
    <a class="nav-primary__text" href="#">Files</a>
    <a class="nav-primary__text" href="#">Snippets</a>
    <a class="nav-primary__text" href="#">Layouts</a>
    <a class="nav-primary__text" href="#">Categories</a>
    <a class="nav-primary__text" href="#">Reporting</a>
    <a class="nav-primary__text" href="#">Admin</a>
  </nav>
</div>

<h2>.l-content</h2>

<div class="l-panel-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
