<h1>Frontend components</h1>

<h2>.nav-main</h2>

<nav class="nav-main">
  <a class="nav-main__link nav-main__link--logo" href="#">Pages</a>
  <a class="nav-main__link" href="#">Files</a>
  <a class="nav-main__link is-active" href="#">Snippets</a>
  <a class="nav-main__link" href="#">Layouts</a>
  <a class="nav-main__link" href="#">Categories</a>
  <a class="nav-main__link" href="#">Reporting</a>
  <a class="nav-main__link" href="#">Admin</a>
</nav>
