.menu__item
  = button_tag value: :create_new_draft, type: :submit, name: :state_event, class: "menu__action t-create_new_draft" do
    Create New Draft Version

.menu__item
  = button_tag value: :unpublish, type: :submit, name: :state_event, class: "menu__action t-unpublish" do
    Unpublish
