.tab-selector__target#external.is-inactive{'data-dough-tab-selector-target' => 'external' }
  %h3.l-tab-panels__heading
    = t('links.external.header')
  .form.form--vertical
    .form-group
      .form__input-wrapper
        %input{ type: 'text', data: { 'dough-insertmanager-insert-type' => 'external', 'dough-insertmanager-value-trigger' => true}, placeholder: t('links.external.placeholder') }

    .form-group
      .form__input-wrapper
        %button.button--action
          %span.button__text{'data-dough-insertmanager-insert' => 'external' }
            = t('links.external.insert_button')
