.tab-selector__target#panel-3.is-inactive{'data-dough-tab-selector-target' => 3 }
  %h3.l-tab-panels__heading Add external link
  %input{type: 'text', data: {'dough-linkmanager-value-trigger' => true, 'dough-linkmanager-link-type' => 'external'}, placeholder: 'enter url' }
  %button{'data-dough-linkmanager-insertlink' => true } Add Link
