.tab-selector__target#external.is-inactive{'data-dough-tab-selector-target' => 'external' }
  %h3.l-tab-panels__heading
    = t('links.external.header')
  %input{ type: 'text', data: { 'dough-linkmanager-link-type' => 'external', 'dough-linkmanager-value-trigger' => true}, placeholder: t('links.external.placeholder') }
  %button{'data-dough-linkmanager-insertlink' => true }
    = t('links.external.insert_button')
