.tab-selector__target#external.is-inactive{'data-dough-tab-selector-target' => 'external' }
  %h3.l-tab-panels__heading Add external link
  %input{type: 'text', data: {'dough-linkmanager-link-type' => 'external', 'dough-linkmanager-value-trigger' => true}, placeholder: 'enter url' }
  %button{'data-dough-linkmanager-insertlink' => 'external' } Add Link
