.l-editor
  = render 'comfy/admin/cms/pages/toolbar'

  .editor.editor--html.is-active{data: {dough_maseditor_html_container: true}}
    #t-editor.editor__content.theme.theme--dough{data: {dough_component: :WordCount, dough_wordcount_target: 'article', dough_maseditor_html_content: true}}

  .editor.editor--markdown{data: {dough_maseditor_markdown_container: true}}
    %input{type: :hidden, name: "blocks_attributes[#{index}][identifier]", value: 'content'}
    %textarea.editor__content.editor__content--markdown{ name: "blocks_attributes[#{index}][content]", data: {dough_maseditor_markdown_content: true, dough_component: 'SnippetInserter', dough_snippetinserter_context: 'markdown-snippets'} }
      - if @blocks_attributes.present?
        = @blocks_attributes[index][:content]
