.l-editor
  %nav.toolbar.js-toolbar

    .toolbar__inner

      .toolbar__item-group.js-html-editor-toolbar
        .toolbar__item-group
          =button_tag(type: 'button', class: 'toolbar__item toolbar-button', data: { "command-name" => "bold"}) do
            %span.fa.fa-bold
          =button_tag("H2", type: 'button', class: 'toolbar__item toolbar-button', data: { "command-name" => "h2"})
          =button_tag("H3", type: 'button', class: 'toolbar__item toolbar-button', data: { "command-name" => "h3"})
          =button_tag("H4", type: 'button', class: 'toolbar__item toolbar-button', data: { "command-name" => "h4"})

        .toolbar__item-group
          =button_tag("OL", type: 'button', class: 'toolbar__item toolbar-button', data: { "command-name" => "insertOrderedList"}) do
            %span.fa.fa-list-ol
          =button_tag("UL", type: 'button', class: 'toolbar__item toolbar-button', data: { "command-name" => "insertUnorderedList"}) do
            %span.fa.fa-list-ul
          =button_tag("Link", type: 'button', class: 'toolbar__item toolbar-button', data: { "command-name" => "linkPrompt"}) do
            %span.fa.fa-link
          =button_tag("Unlink", type: 'button', class: 'toolbar__item toolbar-button', data: { "command-name" => "unlink"}) do
            %span.fa.fa-unlink

        .toolbar__item-group
          =button_tag("Remove Formatting", class: 'toolbar__item toolbar-button', type: "button", data: { "command-name" => "removeFormat"}) do
            %span.fa.fa-square-o

      .toolbar__item-group.js-switch-mode-buttons
        .toggle
          =radio_button_tag('edit-mode', 'html', true, class: 'toggle__control')
          =radio_button_tag('edit-mode', 'markdown', false, class: 'toggle__control')
          =label_tag('edit-mode_html', 'Layout', class: 'toggle__label-heading js-switch-mode', data: { "mode" => "html" })
          %span.toggle__indicator
          =label_tag('edit-mode_markdown', 'Advanced', class: 'toggle__label-heading js-switch-mode', data: { "mode" => "markdown" })


  .editor.editor--html.is-active.js-html-editor
    .editor__content.theme.theme--dough.js-html-editor-content

  .editor.editor--markdown.js-markdown-editor
    %textarea.editor__content.editor__content--markdown.js-markdown-editor-content{ name: "#{fieldname}[blocks_attributes][#{index}][content]" }
      =editor.content
    %input{type: 'hidden', name: "#{fieldname}[blocks_attributes][#{index}][identifier]", value: 'content'}
