- return unless @site.is_mirrored?

- object ||= nil

- en, cy = cms_mirror_options(object)
- if en && cy
  #site__mirrors.toggle--mirrors
    .toolbar__item.js-switch-mode-buttons-group.pull-right
      .toggle
        =radio_button_tag('edit-mode', en.first, en.last == request.fullpath, class: 'toggle__control', data: { "value" => en.last })
        =radio_button_tag('edit-mode', cy.first, cy.last == request.fullpath, class: 'toggle__control', data: { "value" => cy.last })
        =label_tag('edit-mode_html', en.first, class: 'toggle__label-heading')
        %span.toggle__indicator
        =label_tag('edit-mode_html', cy.first, class: 'toggle__label-heading')
