- return unless @site.is_mirrored? && local_assigns[:object].is_a?(Comfy::Cms::Page) && local_assigns[:object].persisted?

#site__mirrors{ data: { 'dough-component' => 'URLToggler' }}
  .toolbar__item.pull-right
    %span.image-flag
    .toolbar__item.js-switch-mode-buttons-group.pull-right
      .toggle.toggle--on-dark
        = presenter.language_input_tag(:en, alternate: params[:alternate])
        = presenter.language_input_tag(:cy, alternate: params[:alternate])

        = presenter.language_label_tag(:en)
        %span.toggle__indicator
        = presenter.language_label_tag(:cy)
