.l-panel-content.l-panel-content--form
  .l-constrained
    %h1 Hippo Pages that are not in Contento
    %p= "#{@hippo_diff.size} records"

.table-wrapper
  %table.datatable-default.table
    %thead
      %tr
        %th Type
        %th Link
    %tbody
      - @hippo_diff.each do |hippo_page|
        %tr
          %td= hippo_page.type
          %td= link_to hippo_page.link, hippo_page.link

