- flash.each do |type, message|
  .alert{:class => "alert--#{type}"}
    .alert__inner
      %button.alert__close-button{:type => 'button', :data => {:dismiss => 'alert'}} &times;
      = message

%main
  = yield
