.l-nav-primary
  .l-constrained
    %nav.nav-primary
      - if @site && !@site.new_record?
        != render_main_menu(site: @site)

        / @TODO @modsognir @douglasroper @finitud Add entries for Categories, Reporting and Admin
        /= active_link_to t('comfy.admin.cms.base.categories'), comfy_admin_cms_site_categories_path(@site)
        /= active_link_to t('comfy.admin.cms.base.reporting'),
        /   comfy_admin_cms_site_reporting_path(@site)
        /= active_link_to t('comfy.admin.cms.base.admin'),
        /   comfy_admin_cms_site_admin_path(@site)

        = cms_hook :navigation
