.l-nav-primary
  .l-constrained
    %nav.nav-primary
      - if @site && !@site.new_record?
        != render_main_menu(site: @site)

        =link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "signin"

        = cms_hook :navigation
