.l-panel-content
  .l-constrained
    %ol.listing
      - pages.each do |page|
        %li
          = radio_button_tag(:page_radio_button_name, page.url(:en), false, data: {'dough-linkinserter-value-trigger' => true})
          = radio_button_tag(:page_radio_button_name, page.url(:cy), false, data: {'dough-linkinserter-value-trigger' => true})
          %span.listing__heading= page.label(:en)
