.l-panel-content
  .l-constrained
    %ol.listing
      %p EN | CY
      - pages.each do |page|
        %li
          = render 'page_button', page: page.mirror(:en), page_url: page.url(:en)
          = render 'page_button', page: page.mirror(:cy), page_url: page.url(:cy)
          %span.listing__heading= page.label(:en)
