- if page_mirror.present?
  = radio_button_tag(:page_radio_button_name, page_url, false, disabled: page_mirror.disabled?, data: { 'dough-linkmanager-value-trigger' => true, 'dough-linkmanager-link-type' => 'internal' })
