// Basic panel. No responsive or layout behaviour included
//
// Styleguide panel

.panel {
  background-color: $color-panel-background;
  box-shadow: 0 2px 0 darken($color-panel-background, 10%);
  padding: $baseline-unit*5 30px $baseline-unit*3;
  margin: $baseline-unit*4 0;
  text-align: left;
}

.panel--alt {
  background-color: $color-panel-alt-background;
  box-shadow: 0 2px 0 darken($color-panel-alt-background, 10%);
}

.panel--centered {
  text-align: center;
}

.panel__heading {
  @extend %heading-small;
  color: $color-panel-heading-foreground;
  margin: 0 0 $baseline-unit 0;
}

.panel__heading-icon {
  margin-right: 5px;
}
