.l-constrained
  .l-padded

    %h1 CMS Styleguide

    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro neque autem velit quam explicabo. Doloribus sit, quo ipsum commodi? Nisi praesentium minima quas veritatis, velit, voluptatem itaque nulla! Hic, itaque.

      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro neque autem velit quam explicabo. Doloribus sit, quo ipsum commodi? Nisi praesentium minima quas veritatis, velit, voluptatem itaque nulla! Hic, itaque.

      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro neque autem velit quam explicabo. Doloribus sit, quo ipsum commodi? Nisi praesentium minima quas veritatis, velit, voluptatem itaque nulla! Hic, itaque.

    %h2 .menu

    %ul.menu
      %li.menu__item
        %button.menu__action Save changes as draft
      %li.menu__item
        %button.menu__action Publish changes
      %li.menu__item
        %button.menu__action Unpublish
      %li.menu__item
        %button.menu__action Save

    %h2 .popover

    .sg-block
      %h3 .popover--top
      .popover.popover--top.is-active
        .popover__inner
          %ul.menu
            %li.menu__item
              %button.menu__action Save changes as draft
            %li.menu__item
              %button.menu__action Publish changes
            %li.menu__item
              %button.menu__action Unpublish
            %li.menu__item
              %button.menu__action Save
        .popover__pointer

    .sg-block
      %h3 .popover--bottom
      .popover.popover--bottom.is-active
        .popover__inner
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro neque autem velit quam explicabo.
          Doloribus sit, quo ipsum commodi? Nisi praesentium minima quas veritatis, velit, voluptatem itaque nulla! Hic, itaque.
        .popover__pointer

    .sg-block
      %h3 .popover--left
      .popover.popover--left.is-active
        .popover__inner
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro neque autem velit quam explicabo.
          Doloribus sit, quo ipsum commodi? Nisi praesentium minima quas veritatis, velit, voluptatem itaque nulla! Hic, itaque.
        .popover__pointer

    .sg-block
      %h3 .popover--right
      .popover.popover--right.is-active
        .popover__inner
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro neque autem velit quam explicabo.
          Doloribus sit, quo ipsum commodi? Nisi praesentium minima quas veritatis, velit, voluptatem itaque nulla! Hic, itaque.
        .popover__pointer

    .sg-block
      %h3 .popover--top with .popover__inner--padded
      .popover.popover--top.is-active
        .popover__inner.popover__inner--padded
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro neque autem velit quam explicabo.
          Doloribus sit, quo ipsum commodi? Nisi praesentium minima quas veritatis, velit, voluptatem itaque nulla! Hic, itaque.
        .popover__pointer

    %h2 Popover - default
    %ul
      %li
        %div._popover__trigger{:data => {dough_component: 'Popover', dough_popover_config: '{"direction": "right"}', dough_collapsable_trigger: 2}}
          Right
        %div.popover.popover--right{:data => {dough_collapsable_target: 2}}
          .popover__inner.popover__inner--padded Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          .popover__pointer{:data => {dough_collapsable_pointer: true}}
      %li
        %div._popover__trigger{:data => {dough_component: 'Popover', dough_popover_config: '{"direction": "bottom"}', dough_collapsable_trigger: 4}}
          Bottom
        %div.popover.popover--bottom{:data => {dough_collapsable_target: 4}}
          .popover__inner.popover__inner--padded Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          .popover__pointer{:data => {dough_collapsable_pointer: true}}
      %li
        %div._popover__trigger{:data => {dough_component: 'Popover', dough_popover_config: '{"direction": "left"}', dough_collapsable_trigger: 1}}
          Left
        %div.popover.popover--left{:data => {dough_collapsable_target: 1}}
          .popover__inner.popover__inner--padded Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          .popover__pointer{:data => {dough_collapsable_pointer: true}}
      %li
        %div._popover__trigger
          Top
          %span{:data => {dough_component: 'Popover', dough_popover_config: '{"direction": "top"}', dough_collapsable_trigger: 3}} Yay
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque nulla nihil harum enim reprehenderit tempora dolorum earum, excepturi quas sint reiciendis, inventore eveniet? Doloremque facilis est nam sint voluptatem, ratione!
        %div.popover.popover--top{:data => {dough_collapsable_target: 3}}
          .popover__inner.popover__inner--padded Lorem ipsum dolor sit amet
          .popover__pointer{:data => {dough_collapsable_pointer: true}}

    %h2 Popover - with centre alignment
    %ul
      %li
        %div._popover__trigger{:data => {dough_component: 'Popover', dough_popover_config: '{"direction": "right", "centerAlign": true}', dough_collapsable_trigger: 5}}
          Right
        %div.popover.popover--right{:data => {dough_collapsable_target: 5}}
          .popover__inner.popover__inner--padded Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          .popover__pointer{:data => {dough_collapsable_pointer: true}}
      %li
        %div._popover__trigger{:data => {dough_component: 'Popover', dough_popover_config: '{"direction": "bottom", "centerAlign": true}', dough_collapsable_trigger: 6}}
          Bottom
        %div.popover.popover--bottom{:data => {dough_collapsable_target: 6}}
          .popover__inner.popover__inner--padded Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          .popover__pointer{:data => {dough_collapsable_pointer: true}}
      %li
        %div._popover__trigger{:data => {dough_component: 'Popover', dough_popover_config: '{"direction": "left", "centerAlign": true}', dough_collapsable_trigger: 7}}
          Left
        %div.popover.popover--left{:data => {dough_collapsable_target: 7}}
          .popover__inner.popover__inner--padded Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          .popover__pointer{:data => {dough_collapsable_pointer: true}}
      / %li
    %h2._popover__trigger{style: 'width: 500px;', :data => {dough_component: 'Popover', dough_popover_config: '{"hideOnBlur": true, "direction": "top", "centerAlign": true}', dough_collapsable_trigger: 8}}
      Top
    %div.popover.popover--top{:data => {dough_collapsable_target: 8}}
      .popover__inner
        %ul.menu
          %li.menu__item
            %button.menu__action Save changes as draft
          %li.menu__item
            %button.menu__action Publish changes
          %li.menu__item
            %button.menu__action Unpublish
          %li.menu__item
            %button.menu__action Save
      .popover__pointer{:data => {dough_collapsable_pointer: true}}


    %h2 .listing

    %ol.listing
      %li.listing__item
        %h2.listing__heading
          %a{:href => '#'} Taking control of <b>debt</b>
        %p.listing__text Where to get free <b>debt</b> advice, how to speak to the people you owe money to, and tips to help you pay back your <b>debts</b> in the right order.
        .listing__meta
          %dl.meta.meta--inline
            %dt.meta__title Status:
            %dd.meta__description EN Published with draft, CY Retired
            %dt.meta__title Type:
            %dd.meta__description Article
            %dt.meta__title Last edit:
            %dd.meta__description TDoyle, 12/08/14, 14:45
          %a.listing__link{:href => '#'} View Welsh version
        %a.listing__link{:href => '#'} http://www.moneyadviceservice.org.uk/en/my-
      %li.listing__item
        %h2.listing__heading
          %a{:href => '#'} Should you save, or pay off loans and cards?
        %p.listing__text Decide whether to start saving or repay money you owe, and make a plan to save regularly once you’ve cleared your <b>debts</b>
        .listing__meta
          %dl.meta.meta--inline
            %dt.meta__title Status:
            %dd.meta__description EN Published with draft, CY Retired
            %dt.meta__title Type:
            %dd.meta__description Article
            %dt.meta__title Last edit:
            %dd.meta__description TDoyle, 12/08/14, 14:45
          %a.listing__link{:href => '#'} View Welsh version
        %a.listing__link{:href => '#'} http://www.moneyadviceservice.org.uk/en/my-article

    %h2 .meta

    %dl.meta
      %dt.meta__title Status:
      %dd.meta__description EN Published with draft, CY Retired
      %dt.meta__title Type:
      %dd.meta__description Article
      %dt.meta__title Last edit:
      %dd.meta__description TDoyle, 12/08/14, 14:45

    %h2 .toolbar

    %nav.toolbar
      .toolbar__inner
        %button.toolbar__item.toolbar-button B
        %button.toolbar__item.toolbar-button I
        %button.toolbar__item.toolbar-button H1
        %button.toolbar__item.toolbar-button H2

    %h2 .toolbar.is-active
    %i with .toolbar__item-group

    %nav.toolbar.is-active
      .toolbar__inner
        .toolbar__item-group
          %button.toolbar__item.toolbar-button B
          %button.toolbar__item.toolbar-button I
          %button.toolbar__item.toolbar-button.active H1
          %button.toolbar__item.toolbar-button H2
        .toolbar__item-group
          %button.toolbar__item.toolbar-button UL
          %button.toolbar__item.toolbar-button OL

    %h2 .toggle

    %span.toggle
      %input#a.toggle__control{:checked => "checked", :name => "toggle", :type => "radio", :value => "a"}
      %input#b.toggle__control{:name => "toggle", :type => "radio", :value => "b"}
      %label.toggle__label-heading{:for => "a"} Option 1
      %span.toggle__indicator
      %label.toggle__label-heading{:for => "b"} Option 2

    %h2 .nav-primary

    %nav.nav-primary
      %a.nav-primary__text.is-active{:href => "#"} Pages
      %a.nav-primary__text{:href => "#"} Files
      %a.nav-primary__text{:href => "#"} Snippets
      %a.nav-primary__text{:href => "#"} Layouts
      %a.nav-primary__text{:href => "#"} Categories
      %a.nav-primary__text{:href => "#"} Reporting
      %a.nav-primary__text{:href => "#"} Admin

    %h2 .nav-primary inside .l-nav-primary

    .l-nav-primary
      %nav.nav-primary
        %a.nav-primary__text.is-active{:href => "#"} Pages
        %a.nav-primary__text{:href => "#"} Files
        %a.nav-primary__text{:href => "#"} Snippets
        %a.nav-primary__text{:href => "#"} Layouts
        %a.nav-primary__text{:href => "#"} Categories
        %a.nav-primary__text{:href => "#"} Reporting
        %a.nav-primary__text{:href => "#"} Admin

    %h2 .nav-secondary

    %ul.nav-secondary
      %li.nav-secondary__item Item 1
      %li.nav-secondary__item Item 2
      %li.nav-secondary__item.nav-secondary__item--right Item 3

    %h2 .nav-secondary inside .l-nav-secondary

    .l-nav-secondary
      %ul.nav-secondary

    %h2 .nav-article.is-fixed

    %p Fixes to bottom of view

    %h2 .nav-article

    %aside.nav-article
      .nav-article__inner
        %span.nav-article__item Item 1
        %span.nav-article__item Item 2
        %span.nav-article__item Item 3
        %span.nav-article__item.nav-article__item--right Right item 1
        %span.nav-article__item.nav-article__item--right Right item 2
        %span.nav-article__item.nav-article__item--right Right item 3

    %h2 .l-panel-content
    .l-panel-content
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    %h2 .l-panel-content--form
    .l-panel-content.l-panel-content--form
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    %h2 .l-panel-content with columns
    .l-panel-content
      .l-panel-content__col
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi
      .l-panel-content__col.l-panel-content__col--right
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi

    %h2 .alert--success

    .alert.alert--success.alert--static.is-active
      .alert__inner
        %button.alert__close-button &times;
        Page updated

    %h2 .alert--danger

    .alert.alert--danger.alert--static.is-active
      .alert__inner
        %button.alert__close-button &times;
        Error on page

    %h2 .button
    %button.button Default button

    %h2 .button--text
    %button.button.button--text Text button

    %h2 .button--text
    %button.button.button--text
      Text button
      %span.icon

    %h2 .button-menu

    %span.button-menu
      %button.button__text
        Save
      %button.unstyled-button
        %span.fa.fa-caret-up

    %h2 .button--action

    %button.button--action
      %span.button__text
        Save

    %h2 .form__input
    %input.form__input{:type => "text", :value => "Reducing your energy bills"}/

    %h2 .form__input--inline
    %input.form__input.form__input--inline{:type => "text", :value => "Reducing your energy bills"}

    %h2 .form__input--inline--page-title
    %input.form__input.form__input--inline.form__input--inline--page-title{:type => "text", :value => "Reducing your energy bills"}
