// Content panels
//
// Styleguide Content panels

.l-panel-content {
  background: $color-panel-content-background;
  padding: $baseline-unit*5 24px $baseline-unit*6;
  width: 100%;
}

.l-panel-content h1:last-child {
  margin-bottom: 0;
}

.l-panel-content--form {
  background: $color-panel-content-form-background;
}

.l-panel-content__row {
  display: table;
  width: 100%;
}

.l-panel-content__row--page-content-header {
  padding-bottom: 20px;
}

.l-panel-content__col {
  display: table-cell;
  vertical-align: middle;
}

.l-panel-content__heading {
  margin-bottom: $baseline-unit*2;
  margin-top: 0;
}

.l-panel-content__col:first-child {
  text-align: left;
}

.l-panel-content__col:last-child {
  text-align: right;
}
