// Content panels
//
// Styleguide Content panels

.l-panel-content {
  background: $color-panel-content-background;
  padding: $baseline-unit*4 24px $baseline-unit*6;
}

.l-panel-content--form {
  background: $color-panel-content-form-background;
}
