.form-group
  .form__label-heading
    = form.label :meta_title
  .form__input-wrapper
    = form.text_field :meta_title, class: 'form__input form__input--has-icon', data: {dough_mirrorinputvalue_target: '', dough_component: 'CharacterCounter', dough_character_counter_max_chars: 70, dough_character_counter_context: 'meta-title'}
    %span.form__hint.form__hint--align-right
      %span.form__character-count-text{data: {dough_character_counter_indicator: true, dough_character_counter_context: 'meta-title'}}
        0
      %span
        characters remaining
    %span.form__character-count-warning-icon{title: 'You are over the recommended limit of 70 characters, please shorten your text.', data: {dough_character_counter_warning: true, dough_character_counter_context: 'meta-title'}}
      %span.fa.fa-warning
