.form-group
  .form__label-heading
    = form.label :slug
  .form__input-wrapper
    = form.text_field :slug, class: 'form__input', tabindex: '-1', readonly: @page.ever_been_published?, title: 'Double click to edit this field', data: {'dough-urlformatter-slug' => @page.ever_been_published?, slug: true, 'dough-field-disabled-state-toggler-attribute' => 'readonly'}.merge(page_form_component(true, default: 'FieldDisabledStateToggler', display: @page.ever_been_published? ))
    %span.form__hint
      in
      = page_slug(@site.label, presenter.page_type_url, @page.slug)
