.js-dialog-target.is-inactive{'data-dough-dialog-target' => 'insert-link', 'data-dough-component' => 'TabSelector'}
  %div{'data-dough-component' => 'LinkManager', 'data-dough-linkmanager-target' => 'insert-link', 'data-dough-linkmanager-context' => 'add-link'}
    .l-tab-panels.l-tab-panels--add-link
      .l-tab-panels__item.l-tab-panels__item--aside
        %h2.l-tab-panels__heading Add a link to&hellip;
        .tab-selector__triggers-outer{'data-dough-tab-selector-triggers-outer' => true }
          .tab-selector__triggers-inner{'data-dough-tab-selector-triggers-inner' => true }
            .tab-selector__trigger-container.is-active{'data-dough-tab-selector-trigger-container' => true }
              %a.tab-selector__trigger{ href: '#internal', 'data-dough-tab-selector-trigger' => 'internal' } Money Advice webpage
            .tab-selector__trigger-container.is-inactive{ 'data-dough-tab-selector-trigger-container' => true }
              %a.tab-selector__trigger{ href: '#file', 'data-dough-tab-selector-trigger' => 'file' } A file
            .tab-selector__trigger-container.is-inactive{ 'data-dough-tab-selector-trigger-container' => true }
              %a.tab-selector__trigger{ href: '#external', 'data-dough-tab-selector-trigger' => 'external' } External site

      .l-tab-panels__item.l-tab-panels__item--content
        = render 'links/pages/form'

        = render 'links/files/form'

        = render 'links/external/form'
  
      .loader.is-inactive{'data-dough-linkmanager-loader' => true}
        .loader__inner
          %span.loader__icon
            .fa.fa-spinner.fa-spin
