.js-dialog-target.is-inactive{ 'data-dough-dialog-target' => 'insert-image' }
  %div{ 'data-dough-component' => 'ImageManager', 'data-dough-insertmanager-target' => 'insert-image', 'data-dough-insertmanager-context' => 'insert-image' }
    .l-tab-panels.l-tab-panels--add-link
      .l-tab-panels__item.l-tab-panels__item--content
        = render 'links/images/form'
