.js-dialog-target.is-inactive{'data-dough-dialog-target' => 'scheduler'}
  .l-tab-panels.l-tab-panels--add-link
    .l-tab-panels__item.l-tab-panels__item--aside
      %h2.l-tab-panels__heading Schedule
      = date_field_tag 'scheduled_date', nil, data: {dough_scheduler_date: true}
      = time_field_tag 'scheduled_time', nil, data: {dough_scheduler_time: true}
      = button_tag "Schedule", value: 'schedule', type: 'submit', name: 'state_event', class: "button--action", data: { dough_scheduler_trigger: true } do
        %span.button__text
          schedule
