// Button
//
// Styleguide Button

// Default button

.button {
  background: transparent;
  border: none;
  @include body(14,14);

  &:focus,
  &:hover,
  &:link:hover {
    color: $color-button-foreground;
    text-decoration: underline;
  }
}

// Default button helper modifier

.button--h-capitalized {
  text-transform: uppercase;
}

// Search button

.button--search .button__text {
  @extend %button-input-height-inner;
}

.button--search-action {
  border-radius: 0;
}

.button--search-action .button__text {
  @extend %button-input-height-inner;
  padding-left: 10px;
  padding-right: 10px;
}

// Article button

.button--article {
  &,
  &:visited,
  &:link:visited
  &:hover {
    color: $color-button-foreground;
  }
}

// Action button

.button--action {
  @extend %button-action;
}

.button--action .button__text {
  @extend %button-action__text;
}


// Menu button

.button-menu {
  @extend %button-action;
  display: table;
}

.button-menu .button__text,
.button-menu .unstyled-button {
  @extend %button-action__text;
  display: table-cell;
}

.button-menu .unstyled-button {
  border-left: 1px solid $color-button-action-separator;
  border-bottom-right-radius: $button-border-radius;
  border-top-right-radius: $button-border-radius;
  padding-left: 15px;
  padding-right: 15px;

  &:focus {
    background: darken($color-button-action-background, 10%);
  }

  &.is-active {
    background: darken($color-button-action-background, 30%);
  }

  &.is-active:focus {
    background: darken($color-button-action-background, 45%);
  }
}

.button-menu .button__toggle {
  background: transparent;
  border: none;
  padding: 0;
}

.button--secondary {
  background: $color-button-secondary-background;
}
