// Button
//
// Styleguide Button

// Default button

.button {
  background: transparent;
  border: none;
  @include body(14,14);

  &:focus,
  &:hover,
  &:link:hover {
    text-decoration: underline;
  }
}

// Default button helper modifier

.button--h-capitalized {
  text-transform: uppercase;
}

.button--h-match-input-height .button__text{
  line-height: $button-match-input-height;
  height: $button-match-input-height;
  padding-bottom: 0;
  padding-top: 0;
  vertical-align: middle;
}

// Article button

.button--article {
  &,
  &:visited,
  &:hover {
    color: $color-button-foreground;
  }
}

// Action button

.button--action {
  @extend %button-action;
}

.button--action .button__text {
  @extend %button-action__text;
}


// Menu button

.button-menu {
  @extend %button-action;
}

.button-menu .button__text,
.button-menu .unstyled-button {
  @extend %button-action__text;
}

.button-menu .unstyled-button {
  border-left: 1px solid $color-button-action-separator;
  padding-left: 15px;
  padding-right: 15px;
}

.button-menu .button__toggle {
  background: transparent;
  border: none;
  padding: 0;
}

