// Button
//
// Styleguide Button

.button {
  background: transparent;
  border: none;
  color: $color-button-foreground;
  @include body(14,14);

  &:link:hover,
  &:focus {
    color: $color-button-foreground-hover;
  }
}

.button--capitalized {
  text-transform: uppercase;
}

.button--action {
  background: $color-button-action-background;
  border-radius: 4px;
  font-weight: 500;
  @include body(16,16);
  padding: $baseline-unit*2 20px;
  text-shadow: $shadow-button-action;
  transition: background, $transition-hover-params;

  &:hover,
  &:link:hover,
  &:focus {
    background: lighten($color-button-action-background, 5%);
    color: $color-button-foreground;
    text-decoration: none;
  }
}
