// Content grid§
//
// Styleguide Content grid

.content-grid {
  @extend %clearfix;
  @extend .unstyled-list;
  margin-left: -1.5%;
}

.content-grid__item {
  cursor: pointer;
  float: left;
  height: 0;
  margin-left: 1.5%;
  margin-bottom: 1.5%;
  padding-bottom: 18.5%;
  position: relative;
  width: 18.5%;
}

.content-grid__outline {
  bottom: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  right: 0;
  top: 0;
}

.content-grid__heading {
  font-size: 2vw;
  line-height: 2.5vw;
  display: inline-block;
  margin: 10% 22% 10% 10%;
}

.content-grid__icon {
  color: $color-content-grid-icon;
  font-size: 5.5vw;
  line-height: 5.5vw;
  position: absolute;
  right: 8%;
  bottom: 7%;
}

.content-grid__item--file .content-grid__outline {
  border: 1px solid $color-content-grid-outline;
}

.content-grid__item--file.is-active .content-grid__outline,
.content-grid__item--file:hover .content-grid__outline,
.content-grid__item--file .content-grid__action:focus ~ .content-grid__outline {
  border: 4px solid $color-content-grid-outline-active;
}

.content-grid__media {
  background: transparent center center no-repeat;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;  
}

.content-grid__action {
  @extend .unstyled-button;
  @include body(22,22);
  color: $color-content-grid-icon;
  left: -99999em;
  position: absolute;
  top: -99999em;
}

.content-grid__item--media .content-grid__action {
  color: $color-content-grid-icon-alt;

  &:hover {
    color: $color-content-grid-icon;
  }
}

.content-grid__item--file .content-grid__action {
  color: $color-content-grid-icon;

  &:hover {
    color: darken($color-content-grid-icon, 20%);
  }
}

.content-grid__action:focus,
.content-grid__item:hover .content-grid__action {
  left: auto;
  right: 7%;
  top: 7%;
}
