// Dialog
//
// Styleguide Dialog

.dialog {
  border: none;
  height: auto;
  padding: 0;
}

.dialog__close {
  position: absolute;
  right: $baseline-unit;
  top: $baseline-unit;
}

.js-dialog-target-content.is-active {
  &, .no-js {
    @extend %is-active;
  }
}

.js-dialog-target-content.is-inactive {
  @extend %is-hidden;
}
