// Editor state
//
// Styleguide Editor

.editor {
  display: none;

  &.is-active {
    @extend %is-active;
  }
}

.editor__content {

}

.editor--markdown {
  min-height: 500px;
}

.editor--html {
  .editor__content {
    min-height: 500px;
  }
}
