// Editor state
//
// Styleguide Editor

.editor {
  display: none;

  &.is-active {
    @extend %is-active;
  }
}

.editor__content {
  background: $color-editor-background;
  border: none;
  min-height: 300px;
  outline: none;
  padding: 0;
  width: 100%;
}

.editor--markdown .editor__content {
  font-family: monospace;
  resize: none;

  &:focus {
    outline: none;
  }
}

.editor--html .editor__content {
  & > h2 {
    @include body(30, 36);
  }

  h3 {
    @include body(24, 29);
  }

  h4 {
    @include body(20, 24);
  }

  h2, h3, h4 {
    font-weight: 700;
  }

  img {
    margin: $baseline-unit*2 0;
  }
}
