// Editor state
//
// Styleguide Editor

.editor {
  display: none;

  &.is-active {
    @extend %is-active;
  }
}

.editor__content {
  background: $color-editor-background;
  border: 1px solid #ccc;
  min-height: 500px;
  outline: none;
  padding: 5px;
  width: 100%;
}
