.image-flag {
  background-size: contain;
  display: block;
  height: 25px;
  margin-left: 20px;
  position: relative;
  width: 25px;

  &:before {
    background: $color-image-flag-separator;
    content: '';
    height: 100%;
    left: -10px;
    margin-right: 5px;
    position: absolute;
    top: 0;
    width: 1px;
  }
}

.lang-en .image-flag {
  background-image: image-url('flag_english.png')
}

.lang-cy .image-flag {
  background-image: image-url('flag_welsh.png')
}
