// Inline input
//
// Styleguide Inline input

.inline-input[type="text"],
.inline-input[type="number"],
.inline-input[type="email"],
.inline-input[type="search"],
.inline-input[type="password"] {
  @include body(16,16);
  border: none;
  background: transparent;
  color: $color-inline-input-foreground;
  font-weight: 300;
  padding-left: 0;

  &:focus {
    background: transparent;
    outline: none;
  }
};

.inline-input--page-title[type="text"],
.inline-input--page-title[type="number"],
.inline-input--page-title[type="email"],
.inline-input--page-title[type="search"],
.inline-input--page-title[type="password"] {
  @include body(32,42);
  height: 42px;
};
