// List Display
//
// Used for article list and search results
//
// Styleguide List Display

.list-display {
}

.list-display__header,
.list-display__footer {
  @include body(12,14);
  @include clearfix();
  background: $color-list-display-header-background;
}

.list-display__header {
  text-transform: uppercase;
}

.list-display__header-text {
  @include body(14,14);  
  color: $color-list-display-header-foreground;
  margin: 0;
}

.list-display__section {
  padding: $baseline-unit*3 18px;
}

.list-display__section--left {
  float: left;
}

.list-display__section--right {
  float: right;

  :not(.list-display__section--left) + & {
    padding-top: 0;
  }
}

.list-display__filter {
  cursor: pointer;
  user-select: none;
}

.list-display__textarea {
  min-height: 90px;
}

.list-display__body {
  padding: 0 12px;
}

.list-display__body--activity-log {
  overflow: scroll;
  height: 220px;
}
