// Listing
//
// Used for article list and search results
//
// Styleguide Listing

.listing {
  @extend .unstyled-list;
}

.listing__item {
  margin-bottom: $baseline-unit*6;
}

.listing__action {

}

.listing__heading {
  @include body(22,28);
  font-weight: 300;
  margin: 0 0 $baseline-unit*2;
}

.listing__text {
  @extend %body-text;
  &:last-of-type {
    margin-bottom: $baseline-unit/2;
  }
}

.listing__link {
  @extend %body-text;
}

.listing__meta {
  margin-bottom: $baseline-unit/2;
}
