// Meta
//
// Styleguide Meta

.meta {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.meta--inline {
  display: inline-block;
}

.meta__title,
.meta__description {
  display: inline-block;
}

.meta__title {
  color: $color-meta-title-foreground;
}

.meta__description {
  margin-left: 0;

  &:after {
    border-right: 1px solid $color-meta-title-separator;
    content: '';
    display: inline;
    height: 20px;
    margin-left: 10px;
    margin-right: 4px;
  }
}

.meta__link {
  margin-left: 0;
}
