// Navigation main
//
// Styleguide Navigation main

.nav-main {
  @include body(0,0);
}

.nav-main__link {
  @include body(14, 60);
  background: $nav-main-background;
  border-top: 1px solid $nav-main-background;
  display: inline-block;
  padding: 0 $baseline-unit*3;
  text-transform: uppercase;

  &,
  &:visited,
  &:hover,
  &:active {
    color: $nav-main-foreground;
    text-decoration: none;
  }

  &,
  &:hover,
  &.is-active {
    transition: color .2s ease-in-out, border-top-color .2s ease-in-out;
  }

  &:hover,
  &.is-active {
    border-top-color: $nav-main-foreground-active;
    color: $nav-main-foreground-active;
  }
}
