// Pagination
//
// Styleguide Pagination

.pagination {
  padding: 5px 0;
}

.pagination__item {
  display: inline-block;
  padding: 0 5px;
}

.pagination__item.is-active {
  font-weight: 700;
  text-decoration: underline;
}

.pagination__icon:hover {
  border-bottom: 1px solid;
}

.pagination--tags {
  text-align: left;
}

.pagination--tags .pagination__item {
  @include body(22,22);
  text-transform: uppercase;

  &:first-child {
    padding-left: 0;
  }
}
