// Page
// Formats Comfy's pagination view
//
// Styleguide Page

.pagination {
  text-align: center;
}

.pagination .page {
  @extend .pagination__item;
  margin-bottom: $baseline-unit*2;
}

.pagination .page.current {
  @extend .pagination__item.is-active;
}

.pagination .next,
.pagination .prev {
  margin: 0 10px;
}
