// Popover menu
//
// Styleguide Popover menu

.popover {
  @extend %is-hidden;
  position: relative;
  
  &.is-active {
    @extend %is-active;
    @extend %z-index--popover.is-active;
  }
}

.popover--top {
  padding-bottom: 11px;
}

.popover--bottom {
  padding-top: 11px;
}

.popover--left {
  padding-right: 11px;
}

.popover--right {
  padding-left: 11px;
}

.popover__inner {
  background: $color-popover-body-background;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(black, .3);
  position: relative;
  @extend %z-index--popover__inner;
}

.popover__inner--padded {
  padding: $baseline-unit*2;
}

.popover__pointer {
  position: absolute;
  
  &:before,
  &:after{
    background: $color-popover-body-background;
    content: '';
    display: block;
    height: 15px;
    margin: 0 auto;
    position: absolute;
    transform: rotate(45deg);
    width: 15px;
  }
  &:before {
    @extend %z-index--popover__pointer-top;
  }
  &:after {
    box-shadow: 0 0 10px rgba(black, .3);
    @extend %z-index--popover__pointer-bottom;
  }
}

.popover--top .popover__pointer,
.popover--bottom .popover__pointer {
  left: 50%;
  margin-left: -7px;    
}

.popover--top .popover__pointer {
  bottom: 18px;
}

.popover--bottom .popover__pointer {
  top: 4px;
}

.popover--left .popover__pointer,
.popover--right .popover__pointer {
  margin-top: -7px;
  top: 50%;
}

.popover--left .popover__pointer {
  right: 18px;
}

.popover--right .popover__pointer {
  left: 4px;
}
