// Toolbar
//
// Styleguide Toolbar

.toolbar {
  pointer-events: none;

  &.is-sticky {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  &.is-active {
    pointer-events: auto;
  }
}

.toolbar__inner {
  background-color: transparent;
  text-align: left;
  padding: $baseline-unit*4 0 $baseline-unit*6;
  width: 100%;
}


.toolbar__item-group {
  display: inline-block;
  margin-right: 40px;

  & + &:last-child {
    margin-right: 0;
  }
}

.toolbar__item {
  margin: 0 4px 0 0;

  &:last-child {
    margin-right: 0;
  }
}

.toolbar__button {
  border: 0;
  border-radius: 3px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  height: 30px;
  line-height: 25px;
  position: relative;
  text-align: center;
  transition: background, $transition-hover-params;
  width: 30px;

  &:focus {
    border: none;
    outline: none;
  }
}

.toolbar .toolbar__button,
.toolbar .toolbar__button[disabled],
.toolbar.is-active .toolbar__button[disabled] {
  background: $color-toolbar-button-disabled-background;
}

.toolbar.is-active .toolbar__button {
  background-color: rgba($color-toolbar-button-background,.55);
}

.toolbar .toolbar__button.active,
.toolbar .toolbar__button:hover {
  background-color: $color-toolbar-button-background;
}
