// Toolbar
//
// Styleguide Toolbar

.toolbar {
  user-select: none;

  &.is-sticky {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    @extend %z-index--toolbar.is-sticky;
  }
}

.toolbar__inner {
  background-color: transparent;
  display: table;
  text-align: left;
  padding: $baseline-unit*4 0 $baseline-unit*6;
  width: 100%;
}


.toolbar__item-group {
  display: table-cell;
  padding-right: 40px;

  & + &:last-child {
    padding-right: 0;
    width: 100%;
  }
}

.toolbar__item-group--html {
  pointer-events: none;

  &.is-active {
    pointer-events: auto;
  }
}

.toolbar__inner > .toolbar__item-group {
  white-space: nowrap;
}

.toolbar__item-group--right {
  text-align: right;
  width: 100%;
}

.toolbar__item {
  display: inline-block;
  margin: 0 4px 0 0;
  vertical-align: middle;

  &:last-child {
    margin-right: 0;
  }
}
