- if @categories.present?
  = form.collection_select(:category_ids, @categories, :id, :label, {label: t('.label')}, include_blank: false, multiple: true,
                           id:    'categories',
                           class: 't-categories-select',
                           data:  {dough_component: 'AutoComplete', dough_placeholder_text: ''})
