.control-label[for="page_label"] {
  display: none;
}

.c-comfy-admin-cms-files,
.c-comfy-admin-cms-layouts,
.c-comfy-admin-cms-snippets {
  main {
    @extend .l-constrained;
    @extend .l-panel-content;
  }
}

.login {
  width: 30%;
  margin: auto;
  padding-top: 50px;
  font-weight: bold;
}

a.signin{
  font-size: 15px;
  float: right;
  position: relative;
  top: 30px;
}

._popover__trigger {
  background: #ccc;
  display: inline-block;
}

._popover__target {
  background: #ddd;
  border: 1px solid darken(#ddd,20%);
  padding: 5px;
  max-width: 400px;
  @extend %is-hidden;
}
._popover__target.is-active {
  @extend %is-active;
  display: inline-block;
}
