.control-label[for="page_label"] {
  display: none;
}

.c-comfy-admin-cms-layouts,
.c-comfy-admin-cms-snippets {
  main {
    @extend .l-constrained;
    @extend .l-panel-content;
  }
}

.login {
  width: 30%;
  margin: auto;
  padding-top: 50px;
  font-weight: bold;
}

a.signin{
  font-size: 15px;
  float: right;
  position: relative;
  top: 30px;
}

.sg-block {
  margin-bottom: $baseline-unit*6;
}

.file-image img {
  width: 100%;
}
