- if ComfortableMexicanSofa.config.reveal_cms_partials
  .cms-partial
    = __FILE__.split('/').last(5).join('/').gsub(/\.html\.haml\z/, '')

.l-editor
  .editor.editor--html.js-html-editor
    %nav.toolbar.js-html-editor-toolbar
      =button_tag("Bold", type: 'button', data: { "command-name" => "bold"})
      =button_tag("Link", type: 'button', data: { "command-name" => "linkPrompt"})
      =button_tag("Unlink", type: 'button', data: { "command-name" => "unlink"})
      =button_tag("OL", type: 'button', data: { "command-name" => "insertOrderedList"})
      =button_tag("UL", type: 'button', data: { "command-name" => "insertUnorderedList"})
      =button_tag("h1", type: 'button', data: { "command-name" => "h1"})
      =button_tag("h2", type: 'button', data: { "command-name" => "h2"})
      =button_tag("h3", type: 'button', data: { "command-name" => "h3"})
      =button_tag("h4", type: 'button', data: { "command-name" => "h4"})
      =button_tag("Remove Formatting", type: "button", data: { "command-name" => "removeFormat"})
    .editor__content.js-html-editor-content

  %nav.view-options.js-switch-mode-buttons
    %button.js-switch-mode{type: "button", data: { "mode" => "html" }}
      HTML
    %button.js-switch-mode{type: "button", data: { "mode" => "markdown" }}
      Markdown
