= button_tag value: :schedule, type: :submit, name: :state_event, data: { dough_dialog_trigger: :scheduler, dough_component: 'Dialog Scheduler' }, class: "button--action t-schedule" do
  %span.button__text
    Save Changes
