- if params[:alternate]
  - if alternate_content?(@page)
    = button_tag type: :submit, data: { dough_dialog_trigger: :scheduler, dough_component: 'Dialog Scheduler' }, class: "button--action t-schedule" do
      %span.button__text
        Save Changes to Scheduled Update

- else
  - if alternate_content?(@page)
    = button_tag type: :submit, class: "button--action t-schedule" do
      %span.button__text
        Update Live Article

  - else
    - if @page.scheduled_on > Time.current
      = button_tag type: :submit, data: { dough_dialog_trigger: :scheduler, dough_component: 'Dialog Scheduler' }, class: "button--action t-schedule" do
        %span.button__text
          Save Changes to Scheduled Article

    - else
      = button_tag type: :submit, class: "button--action t-schedule" do
        %span.button__text
          Update Live Article
