.l-panel-content.l-panel-content--form
  .l-constrained
    .l-panel-content__row
      .l-panel-content__col
        %h1 Category Manager
      .l-panel-content__col
        = link_to 'Show all categories', categories_path

= render 'form'
