// Forms
// Uses Dough's default form styling
// Styleguide Forms
//
.form-group {
  @include row();
  margin-bottom: $baseline-unit*5;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__label-heading {
  @include column(1.5);
}

.form__input-wrapper {
  @include column(8.5);
}

.form--vertical .form-group {
  @include row(12);
}

.form--vertical .form__input-wrapper,
.form--vertical .form__label-heading,
.form--vertical .form__row {
  @include column(12);
}

.form__input--has-meta + .help-block {
  color: $color-input-meta;
  @include body(11,11);
}

.form-group.has-error .help-block {
  border-left: 4px solid $color-error-foreground;
  color: $color-error-foreground;
  font-weight: 700;
  padding-left: 8px;
  text-transform: capitalize;
}

.form__input[type="text"],
.form__input[type="number"],
.form__input[type="email"],
.form__input[type="search"],
.form__input[type="password"] {
  box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.05);
  padding: $baseline-unit*2.5 10px;
}

.form__input--inline[type="text"],
.form__input--inline[type="number"],
.form__input--inline[type="email"],
.form__input--inline[type="search"],
.form__input--inline[type="password"] {
  @include body(16,16);
  border: none;
  background: transparent;
  color: $color-inline-input-foreground;
  font-weight: 300;
  padding-left: 0;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;

  &:focus {
    background: transparent;
    outline: none;
  }
};

.form__input--inline--page-title[type="text"],
.form__input--inline--page-title[type="number"],
.form__input--inline--page-title[type="email"],
.form__input--inline--page-title[type="search"],
.form__input--inline--page-title[type="password"] {
  @include body(32,42);
  height: $baseline-unit*7;
};

.form__input.form__input--constrained[type="text"],
.form__input.form__input--constrained[type="number"],
.form__input.form__input--constrained[type="email"],
.form__input.form__input--constrained[type="search"],
.form__input.form__input--constrained[type="password"] {
  width: auto;
}

select.form-control {
  display: block;
  width: $form-element-width;
}
