// Forms
// Uses Dough's default form styling
// Styleguide Forms
//
button {
  @extend %font-smoothing;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="search"],
input[type="password"] {
  @extend %form-input;
  @extend %form-input-text;

  &[disabled] {
    background-color: $color-input-disabled-background;
    color: $color-input-disabled-text-color;
  }
}

input[type="search"] {
  box-sizing: border-box;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="search"],
input[type="password"],
input[type="checkbox"],
input[type="radio"],
textarea {
  &:focus {
    @include form-input-focus;
    @include form-input-focus-outline;
  }
}

input[type="search"] {
  &:focus {
    outline-offset: -1px;
  }
}

input[type="reset"],
input[type="submit"],
button,
select {
  &:focus {
    @include form-input-focus-outline;
  }
}

textarea {
  @extend %form-input;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  display: block;
  margin-bottom: $baseline-unit*2;
}

.form-group {
  @include row();
  margin-bottom: $baseline-unit*5;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__row {
  margin-bottom: 0;
}

.form__label-heading {
  @include column(12);

  @include respond-to($mq-l) {
    @include column(1.75);
  };
}

.form__input-wrapper {
  @include column(12);
  position: relative;

  @include respond-to($mq-l) {
    @include column(10.25);
  };
}

.form__input-wrapper--fill-width {
  @include column(12);
}

.form--vertical .form-group {
  @include row(12);
}

.form--vertical .form__input-wrapper,
.form--vertical .form__label-heading,
.form--vertical .form__row {
  @include column(12);
}

.form__hint {
  @include body(11,11);
  color: $color-input-meta;
  display: block;
}

.form__hint--align-right {
  text-align: right;
}

.form__character-count-warning-icon {
  display: none;
  position: absolute;
  right: 6px;
  top: 4px;

  &.is-above-max {
    color: $color-character-count-exceeded;
    display: block;
  }
}

.form__character-count-text {
  &.is-above-max {
    color: $color-character-count-exceeded;
    font-weight: bold;
  }
}

.form-group.has-error .help-block {
  border-left: 4px solid $color-error-foreground;
  color: $color-error-foreground;
  font-weight: 700;
  padding-left: 8px;
  text-transform: capitalize;
}

.form__input[type="text"],
.form__input[type="number"],
.form__input[type="email"],
.form__input[type="search"],
.form__input[type="password"] {
  box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.05);
  padding: $baseline-unit*2.5 10px;
}

.form__input--inline[type="text"],
.form__input--inline[type="number"],
.form__input--inline[type="email"],
.form__input--inline[type="search"],
.form__input--inline[type="password"] {
  @include body(16,16);
  border: none;
  background: transparent;
  color: $color-inline-input-foreground;
  font-weight: 300;
  padding-left: 0;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;

  &:focus {
    background: transparent;
    outline: none;
  }
};

.form__input--inline--page-title[type="text"],
.form__input--inline--page-title[type="number"],
.form__input--inline--page-title[type="email"],
.form__input--inline--page-title[type="search"],
.form__input--inline--page-title[type="password"] {
  @include body(32,42);
  height: $baseline-unit*7;
};

.form__input.form__input--constrained[type="text"],
.form__input.form__input--constrained[type="number"],
.form__input.form__input--constrained[type="email"],
.form__input.form__input--constrained[type="search"],
.form__input.form__input--constrained[type="password"] {
  width: auto;
}

.form__input.form__input--has-icon[type="text"],
.form__input.form__input--has-icon[type="number"],
.form__input.form__input--has-icon[type="email"],
.form__input.form__input--has-icon[type="search"],
.form__input.form__input--has-icon[type="password"] {
  padding-right: 25px;
}

.form__hint {
  margin-top: $baseline-unit;
}

select.form-control {
  display: block;
  width: $form-element-width;
}

table th select {
  background: white;
  color: $color-select-foreground;

  &:focus {
    box-shadow: 0 0 0 2px $color-select-focus-outline;
    outline-color: $color-select-focus-outline;
  }
}

.form__select--fill-width {
  width: 100%;
}
